.container {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/foodBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left:0;
  opacity: 0;
  transition: opacity .5s ease, visibility .5s ease;
  visibility: hidden;
  .nextBtn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 20px;
    font-size: 50px;
    color: #f00;
    z-index: 1;
    margin: auto;
  }
  &.current {
    opacity: 1;
    visibility: visible;
  }
  .filter {
    background-image: url(../../img/filterBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  }
}